<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
    <title>My Search Demonstration</title>
  </head>
  <body style="margin:20px;">

    <form action="/sign" method="post">
      <div>Create Document</div>
      <div>t1<input type="text" name="t1" id="t1"/></div>
      <div>t2<input type="text" name="t2" id="t2"/></div>
      <div>t3<input type="text" name="t3" id="t3"/></div>
      <div>t4<input type="text" name="t4" id="t4"/></div>
      <div><textarea name="t5" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="add"/></div>
    </form>
  </body>
</html>