<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
    <title>My Search Demonstration</title>
  </head>
  <body style="margin:20px;">

    <form method="post">
      <div>Search Box</div>
      <div><input type="text" name="searchbox" id="searchbox"/></div>
      <div><input type="submit" value="search"/></div>
    </form>
    
    <div>
    
    </div>
  </body>
</html>